@import "./variables.scss";
@include angular-material-theme($theme);

* {
  font-family: Roboto, "Helvetica Neue", sans-serif, "FoundrySterling-Book", Arial;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

.scrollable {
  min-height: 0px;
  max-height: 400px;
  overflow: auto;
}

.page-title {
  font-size: x-large;
  font-weight: 600;
}

.card-panel {
  @extend .mat-elevation-z6;
  border: solid 1px black;
  border-radius: 4px;
  padding: 4px;
  // background-color: mat-color($mat-brown, 500);
  background-color: $primary-color;
  margin-bottom: 10px;
}

.small-card-panel {
  @extend .card-panel;
  width: 400px;
}

.card-panel-title {
  height: 30px;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 4px;
  padding-left: 4px;
  color: white;
}

.summary-card-panel-title {
  @extend .card-panel-title;
  height: 30px;
}

.card-panel-title .mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;
  margin-top: -2px;

  .mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
  }}

.mat-header-cell .mat-icon-button {
  height: 24px;
  width: 24px;
  line-height: 18px;

  .mat-icon {
    font-size: 18px;
    height: 18px;
    width: 18px;
    line-height: 18px;
  }
}

.card-panel-title .material-icons {
  margin-top: -2px;
}

div .section {
  padding-bottom: 8px;
}

.card-panel-body {
  border: solid 1px black;
  border-radius: 0 0 4px 4px;
  background-color: $content-color;
  &.padded {
    padding: 8px;
  }
}

tr.mat-header-row {
  height: 40px;
}

tr.mat-footer-row,
tr.mat-row {
  height: 40px;
}

.mat-table {
  width: 100%;
  background-color: $content-color;
}

.error {
  color: $error-color;
  padding-top: 8px;
}

// material icons
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("~/assets/material-icons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("~/assets/material-icons/MaterialIcons-Regular.woff2") format("woff2"),
    url("~/assets/material-icons/MaterialIcons-Regular.woff") format("woff"),
    url("~/assets/material-icons/MaterialIcons-Regular.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
