<div>
    <button mat-icon-button color="accent" aria-label="First" type="button" title="First" [disabled]="firstDisabled" (click)="onFirst()">
        <mat-icon>first_page</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Previous" type="button" title="Previous" [disabled]="previousDisabled" (click)="onPrevious()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Next" type="button" title="Next" [disabled]="nextDisabled" (click)="onNext()">
        <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Last" type="button" title="Last" [disabled]="lastDisabled" (click)="onLast()">
        <mat-icon>last_page</mat-icon>
    </button>
</div>