<div style="overflow-x: hidden;">
    <div [@roundChanged]="round?.number">
        <div lmSectionHeader>{{roundLabel}} {{round.number}}</div>
        <ng-container *ngFor="let teamScore of round.teamScores">
            <div class="form-group" (keyup)="onKeyup($event)">
                <mat-form-field>
                    <mat-label>{{teamScore.team.name}}'s score</mat-label>
                    <input #score matInput type="text" lmNumericInput [(ngModel)]="teamScore.score"
                        (change)="onScoreChanged()" />
                </mat-form-field>
            </div>
        </ng-container>
    </div>
</div>