<div lmSectionHeader>Round {{gameRound.number}}</div>
<ng-container *ngFor="let teamScore of gameRound.teamScores">
    <div class="form-group">
        <mat-form-field>
            <mat-label>{{teamScore.team.name}}'s score</mat-label>
            <input matInput type="text" lmNumericInput [(ngModel)]="teamScore.score" (change)="onScoreChanged()" />
        </mat-form-field>
    </div>
</ng-container>
<div>
    <button mat-icon-button color="accent" aria-label="First" type="button" tooltip="First" (click)="onFirst()">
        <mat-icon>first_page</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Previous" type="button" tooltip="Previous" (click)="onPrevious()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Next" type="button" tooltip="Next" (click)="onNext()">
        <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Last" type="button" tooltip="First" (click)="onLast()">
        <mat-icon>last_page</mat-icon>
    </button>
</div>