<lm-page-layout>
    <div lmCardPanel>
        <div lmCardPanelTitle>
            <div fxLayout="row">
                <div fxFlex="1 1">
                    Game {{game?.number}}
                </div>
                <div fxFlex>
                    <button mat-icon-button aria-label="Close" (click)="onClose()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div lmCardPanelBody>
            <div fxLayout="row wrap" fxLayoutGap="10px">
                <div fxFlex fxLayout="column">
                    <div lmCardPanelContent fxFlex *ngIf="game?.gameSettings?.scoreSystem === ScoreSystem.AdHoc">
                        <lm-game-score-summary [game]="game" [teamScores]="game.teamScores"></lm-game-score-summary>
                    </div>
                    <div lmCardPanelContent fxFlex *ngIf="game?.gameSettings?.scoreSystem === ScoreSystem.Rounds">
                        <lm-game-round-list [game]="game" [rounds]="rounds" (addRound)="onAddRound()"
                            (editRound)="onEditRound($event)" (deleteRound)="onDeleteRound($event)">
                        </lm-game-round-list>
                    </div>
                </div>
                <div fxFlex [@roundChanged]="selectedRound?.number" *ngIf="selectedRound">
                    <div fxFlex fxLayout="column" fxLayoutGap="10px">
                        <div lmPadded lmCardPanelContent>
                            <lm-wild-card-indicator class="section" [wildCard]="wildCard"></lm-wild-card-indicator>
                        </div>
                        <div lmPadded lmCardPanelContent>
                            <div fxFlex>
                                <lm-game-round-form class="section" [round]="selectedRound"
                                    (scoreChanged)="onScoreChanged()"></lm-game-round-form>
                                <lm-paginator *ngIf="selectedRound"
                                    [firstDisabled]="!rounds || rounds.length == 0 || selectedRound === rounds[0]"
                                    [previousDisabled]="!rounds || rounds.length == 0 || selectedRound === rounds[0]"
                                    [nextDisabled]="!rounds || rounds.length == 0 || selectedRound === rounds[rounds.length - 1]"
                                    [lastDisabled]="!rounds || rounds.length == 0 || selectedRound === rounds[rounds.length - 1]"
                                    (first)="onFirstRound()" (previous)="onPreviousRound()" (next)="onNextRound()"
                                    (last)="onLastRound()"></lm-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</lm-page-layout>