<form novalidate #f="ngForm">
    <div class="form-group" *ngIf="gameSettings.minTeams != gameSettings.maxTeams">
        <mat-form-field>
            <mat-label>Number of Teams</mat-label>
            <mat-select [(value)]="numberOfTeams" (selectionChange)="numberOfTeamsChanged()">
                <mat-option *ngFor="let p of numberOfTeamsOptions" [value]="p">{{p}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <ng-container *ngFor="let x of teamNumbers; index as i">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Select Team {{i + 1}}</mat-label>
                <mat-select [(value)]="teamEntrants[i]" required>
                    <mat-option *ngFor="let t of teams" [value]="t">{{t.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-container>
    <div class="form-group" fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start">
        <div fxFlex="0 0 auto">
            <button mat-raised-button type="button" color="accent" (click)="onSave()">Save</button>
        </div>
        <div fxFlex="0 0 auto">
            <button mat-raised-button type="button" color="accent" (click)="onCancel()">Cancel</button>
        </div>
    </div>
    <div class="error">{{errorMessage}}</div>
</form>