<mat-toolbar class="mat-elevation-z6" fxLayout="row" fxLayoutAlign="left center">
  <div fxFlex="1 1 0">
    <span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let data of menuData">
          <button mat-menu-item (click)="data.action()">
            <i [class]="data.iconClass"></i>
            <span style="padding-left: 6px;">{{data.text}}</span>
          </button>
        </ng-container>
      </mat-menu>
    </span>
  </div>
  <div fxFlex="1 1">League Manger | {{routerService.title}}</div>
  <div fxFlex="1 1 0">
    <button mat-button (click)="routerService.showSignIn()">
      <span class="label">Sign In</span>
      <span class="icon">
        <i class="fas fa-sign-in-alt" style="margin-top: 2px;"></i>
      </span>
    </button>
  </div>
</mat-toolbar>