@import '../../../../assets/scss/variables.scss';

.mat-headline {
  color: $primary-color;
}

.label {
  padding-left: $default-padding;
  padding-right: $default-padding;
  font-size: 18px;
}

mat-toolbar {
  height: 40px;
  background-color: $primary-color;
  color: mat-color($primary, default-contrast);
  border-bottom: outset 4px $primary-color;
}

mat-toolbar button .icon {
  font-size: 20px;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0;
}
