<lm-page-layout>
  <!-- <ng-container *ngIf="!selectedGame"> -->
    <lm-game-list [games]="games" (selectedGame)="gameSelected($event)"></lm-game-list>
  <!-- </ng-container> -->
  <ng-container *ngIf="selectedGame">
      Game {{selectedGame.number}} selected!
    <!-- <lm-game-details [game]="selectedGame" (gameClosed)="clearSelectedGame()">
      <lm-player-list [players]="gamePlayers"></lm-player-list>
    </lm-game-details> -->
  </ng-container>
  <lm-game-form minTeams="2" maxTeams="5" [teams]="teams" (gameSaved)="saveGame($event)"></lm-game-form>
</lm-page-layout>